#!/usr/bin/env bash

export EDITOR="vim"
export TERM="screen-256color"
export LC_ALL="en_US.UTF-8" 2>/dev/null ||true
export LANG="en_US.UTF-8" 2>/dev/null ||true
export LANGUAGE="en_US.UTF-8" 2>/dev/null ||true

export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';

# in tmux, highlight rather than italicize
export LESS_TERMCAP_so=$'\E[30;43m'
export LESS_TERMCAP_se=$'\E[39;49m'

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# By default, Mac uses /bin/sh as the shell
if [[ $OSTYPE == darwin* ]]; then
    export SHELL=/bin/bash
fi



### John exports
if [[ $OSTYPE == darwin* ]]; then
    export PATH=$PATH:/opt/X11/bin/
fi
export DOTFILES_FORCE=true
export HISTTIMEFORMAT="%s "
export CMAKE_GENERATOR=Ninja
export FZF_DEFAULT_COMMAND='ag --hidden --ignore .git -g ""'
