[user]
name = leej3
email = johnleenimh@gmail.com
[push]
	default = simple
[core]
attributesfile = ~/.gitattributes_global
excludesfile = ~/.gitignore_global

smudge = cat
required = true
[color]
	ui = auto
[diff "pandoc"]
  textconv=pandoc --to=markdown
  prompt = false
[alias]
  wdiff = diff --word-diff=color --unified=1

[merge]
    ff = yes
    commit = no
